.dr_media_card {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        border-color: theme-color('primary') !important;
    }
}

.dr_media_pill {
    display: inline-block;
    background: white;
    padding-right: 7px;
    border-radius: 4px;
    bottom: 0;
    font-weight: 500;
    .dr_media_icon {
        max-width: 25px;
        margin-right: -1px;
        padding: 3px;
        border-radius: 6px;
    }
}
.dr_status {
    position: absolute;
    min-height: 29px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    top: -3px;
    right: -26px;
    padding-top: 3px;
    .fa {
        transform: rotate(-45deg);
    }
}

// timer fix
.o_survey_nav .col-10{
    flex: 0 0 100%;
    max-width: 100%;
}

.dr_thankyou {
    .progress {
        max-width: 770px;
        margin: auto;
        height: 2rem;
    }
}



@if o-website-value('header-template')=='default' {
    .navbar-nav {
        .nav-link {
            color: theme-color('primary') !important;
            font-size: 18px;
        }
    }
    @include media-breakpoint-up(md) {
        .navbar {
            padding: 20px;
        }
    }
}

.o_survey_wrap {
    .dr_logo {
        max-width: 250px;
    }
    .dr-onboard-poster {
        max-width: 400px;
    }
}

.btn-primarys {
  color: #fff;
  background-color: rgb(0, 211, 161);
  border-color: rgb(0, 211, 161);
}


.bg-primarys {
  background-color: rgb(0, 211, 161) !important;
}

.text-muteds{
color: rgba(0, 211, 161, 0.7) !important;
}

.text-primarys{
color: #07090b !important;
}
.pg-primarys{
color: rgb(0, 211, 161) !important;
font-family: Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

element {

    width: 100%;

}
.w-100 {

    width: 100% !important;

}
.progress-bar-striped {

    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;

}
.progress-bars {

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(0, 211, 161) !important;
    transition: width 0.6s ease;
}

.roundest-border {
  border-bottom-right-radius: 20px;
  border-top-right-radius:  20px;
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;

}
.table-1 {
  box-shadow: 0px 0px 19px rgba(174, 174, 174, 0.05) inset;
  margin:20px;
//   border: 4px solid #f00;
//   border-radius: 5px;
// float: right;width: auto;margin-top: -90px;margin-left: 0px;margin-right: -7px;

}

.dashboard-table {
  display: flex;
  justify-content: center;
}

.image-table {
  width: 300px;
  background-color: aquamarine;

}
.sub-table-1 {
    margin: 25px;
    text-align: left;
    width: 60%;
}


.sub-table-2 {
    margin: 25px;
    width: 20%;
    text-align: start;
    justify-content: center;
    align-items: center;
    display: flex;
}
















.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {

    margin: 0;
    padding: 0;
    padding: 4px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-spacing: 0 !important;
    margin-left: -27px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;

}
.ui-datepicker {
    display: none;
    width: 294px;
    padding: 35px;
    cursor: default;
    margin-left: -27px !important;
    text-transform: uppercase;
    font-family: Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #000 !important;
    background: #fff;
    border: 0px solid #c5c5c5 !important;


}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 0px solid #d6d6d6 !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    background: #00d3a1;
    margin-left: -32px;
    width: 130% !important;
}

.ui-datepicker-title { text-align: center; }

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #fff;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #fff;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

// .ui-datepicker-prev span,
// .ui-datepicker-next span{
//     display: block;
//     width: 5px;
//     height: 10px;
//     text-indent: -9999px;
//
//     background-image: url("dr_social_website/static/src/img/arrows.png");
// }

.ui-datepicker-prev span{
background-position: -98px -15px;
width: 10px;
text-align: center;
display: flex;
height: 20px;

}



.ui-datepicker-next span {
  display: block;
  width: 5px;
  height: 10px;
  text-indent: -9999px;
  background-image: url("dr_social_website/static/src/img/arrows.png");
}
.ui-datepicker-next span {
  background-position: -32px -13px !important;
  width: 16px !important;
  height: 20px !important;;
}

.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #060606 !important;
}

.ui-datepicker-calendar td {
    padding: 0 7px;
    color: #060606 !important;

    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
      display: block;
      width: 38px;
      outline: none;
      color: #060606 !important;
      text-decoration: none;
      color: #a8a8a8;
      border: 1px solid transparent;
      text-align: center;
}
.ui-datepicker-calendar .ui-state-active {
    color: #fffcfc !important;
    background: #ffa801 !important;
    border-radius: 93px !important;
    border: 1px solid #f7f7f7;
    text-align: center;

}

.ui-datepicker-other-month .ui-state-default { color: #565656; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  background-color: #00d3a1;
  border: none;
  margin-right: 20px;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

.feedback-table-1 {
margin: 0px;
text-align: justify;
width: 100%;
font-size: 14px !important;
margin-top: -40px;
// display: initial !important;

}


ul.checkmark li {
  font-size: 24px !important; // this determines the size of the list text and therefore checkmark size
  list-style-type: none; // remove default list style
  margin-bottom: 1em; // lists need to be able to breathe
  padding: 0.25em 0 0 2.5em; // make room for the circle
  position: relative; // because we want to position the circle in an absolute fashion
  padding-left: 70px !important;
}

ul.checkmark li:before {
  content: " "; // the circle itself is empty
  display: block;
  border: solid 0.8em #ffa801 !important; // create a colored area...
  border-radius: .8em; // ... and turn it into a circle
  height: 0;
  width: 0;
  position: absolute; // the circle is then put into place
  left: 0.5em;
  top: 40%;
  margin-top: -0.5em;
}


.three-dots {
 content: '\2807';
 font-size: 3em;
 color: #2e2e2e
}

.image-hovers{
  width: 200px;
  height: 100px;
  background: #FFB6C1;
  transition: background-color 2s ease-out 100ms
}

image-hovers:hover {
  background-color: #FF1493;
}

